# MariaDB

DATADIR=
MYSQL_DATABASE=
MYSQL_ADMIN=

# WordPress / WP-CLI
DOMAIN_NAME=
WORDPRESS_TITLE=
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_EMAIL=

MYSQL_USER=
WORDPRESS_USER2_EMAIL=
WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=